h1= title
hr

div#mod-alertAll
	h2 みんなにアラート
	p
		input#alert-message(type='text', value='')
		input#alert-button(type='button', value='go')
		input#alert-close(type='button', value='close')
script
	NOWJS_SAMPLE.module.alertAll.setup();
	
