!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ui-darkness/jquery-ui-1.8.18.custom.css')
    script(src='/nowjs/now.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
    script(src='/javascripts/now.client.js')
    script(src='/javascripts/my.module.js')
  body!= body
